.ui.selection.dropdown { /* TODO delete after uniforms fix*/
  padding-top: 0.5em !important;
  padding-bottom: 0.5em !important;
}

.error {
  background-color: red;
  color: white;
}

.managerComment {
  background-color: lemonchiffon;
}
.table-container{
  background-color: white;
  width: 860px;
  height: 85px;


}
